.analytics {
  width: 78%;
  height: 150px;
  border: 1px solid #f34141;
  border-radius: 20px;
  margin: 2px;
  position: absolute;
  padding: 20px;
  bottom: 340px;
  left: 18px;
  background-color: white;
}
