.balance {
  width: 78%;
  height: 170px;
  border: 1px solid #f34141;
  border-radius: 20px;
  margin: 2px;
  position: absolute;
  top: 150px;
  left: 18px;
  padding: 20px;
  background-color: #f34141;

  &--value {
    height: 120px;
    width: 70%;
    border: 2px solid #f34141;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 47px;
    font-size: 30px;
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
