.analyticsSpending {
  width: 78%;
  height: 150px;
  border: 2px solid #f34141;
  border-radius: 20px;
  margin: 2px;
  position: absolute;
  padding: 20px;
  bottom: 400px;
  left: 18px;
  background-color: #f34141;
}
