.analyticsSpending {
  width: 78%;
  height: 150px;
  border: 2px dotted blue;
  border-radius: 20px;
  margin: 2px;
  position: absolute;
  padding: 20px;
  bottom: 450px;
  left: 18px;
  background-color: white;
}
