.transBar {
  width: 78%;
  height: 20px;
  border: 2px dotted green;
  border-radius: 20px;
  margin: 2px;
  position: absolute;
  padding: 20px;
  bottom: 75px;
  left: 14px;

  &--b {
    width: 78%;
    height: 20px;
    border: 2px dotted green;
    border-radius: 20px;
    margin: 2px;
    position: absolute;
    padding: 20px;
    bottom: 5px;
    left: 14px;
  }
}
