.transBar {
  position: relative;
  width: 90%;
  height: 40px;
  border: 2px solid black;
  background-color: black;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
}

.company {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #f34141;
  font-weight: 500;
}

.price {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #f34141;
  font-weight: 500;
}
